.color-primary
/* class명 */
{
    color:blue;
}
.font-50{
    font-size: 50px;
}
.select-style1{
    height: 40px;
    font-size: 20px;
    color:blue;
}

.tb-head>tr>td{
    border: 1px solid #000;
    font-size:14px;
    font-weight: bold;
    color: red;
}
.tb-body>tr>td{
    border: 1px solid #000;
}
/* border는 라인. 색은 검은색, >tr>td경로로 td전부에 적용 */
/* font-weight = 굵기, background = 뒷 배경색 */

#p1{
    background: yellowgreen;
    color: darkgreen;
}