.color-primary
/* class명 */
{
    color:blue;
}
.font-50{
    font-size: 50px;
}
.select-style1{
    height: 40px;
    font-size: 20px;
    color:blue;
}

.tb>thead>tr>td{
    border: 1px solid #000;
}
/* border는 라인. 색은 검은색, >thead>tr>td경로로 td전부에 적용 */